header .page-link {
    display: none;
}

header ul {
    height: 60px;
}

header ul {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 88px;
    width: 100%;
    padding-left: 6vw;
    padding-right: 6vw;
    font-size: 1.3rem;
}

header li.button {
    margin-right: 0;
}

header button.header-menu-button {
    width: 28px;
    height: 48px;
    padding: 6px 14px;
    box-sizing: content-box;
    position: relative;
    display: block;
}

.header-menu-button .border1,
.header-menu-button .border2 {
    position: absolute;
    width: 28px;
    height: 3px;
    border-radius: 4px;
    background-color: #222;
    transition-delay: 1s;
    transition: all 0.18s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center center;
}

.header-menu-button .border1 {
    top: calc(50% - 6px);
}

.header-menu-button .border2 {
    top: calc(50% + 6px);
}

header button.header-menu-button.active .border1 {
    top: 50%;
    transform: rotate(45deg);
}

header button.header-menu-button.active .border2 {
    top: 50%;
    transform: rotate(-45deg);
}

.header-menu {
    display: block;
    position: fixed;
    width: 100%;
    height: 0%;
    overflow: hidden;
    background-color: #ffffff;
    z-index: 10;
    backdrop-filter: blur(136px) !important;
    opacity: 0;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header-menu.active {
    position: fixed;
    display: block;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 10;
    padding-top: 140px;
}

.header-menu ul {
    font-size: 60px;
    font-weight: 550;
    letter-spacing: -0.1rem;
}

.header-menu ul li {
    margin: 4px;
}

#about-me .content-box.small {
    width: calc(100%);
}

#about-me .content-box.large {
    width: 100%;
    display: inline-block;
}

#about-me,
#contact {
    width: 74vw;
    max-width: 1200px;
    margin: auto;
    padding: 120px 0;
}

#about-me p.profile {
    font-size: 1.8rem;
}

h2 {
    font-size: 2.9rem;
    font-weight: 600;
    letter-spacing: -0.02em;
}

#about-me .content-box.large {
    height: auto;
}

#about-me .content-box table {
    height: 100%;
    width: 100%;
}

#about-me .content-box tr {
    display: flex;
    padding-bottom: 20px;
    flex-direction: column;
}

#about-me .content-box td {
    border: none;
    width: 100%;
    font-size: 1.2rem;
    padding-left: 20px;
    padding-right: 20px;
}

#about-me .content-box td:first-child {
    border-left: none;
}

#about-me .content-box tr:first-child td {
    border-top: none;
}

#about-me .content-box td.table-title {
    padding: 0px;
    text-align: left;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #bbb;
    color: #666;
    padding-left: 20px;
    margin-bottom: 5px;
}

#works {
    height: fit-content;
    padding-top: 50px;
}

.video-works,
.development-works {
    gap: 16px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    writing-mode: horizontal-tb;
}

#works h2 span.dev {
    display: none;
}

#works h2 {
    margin-top: 80px;
    margin-bottom: 30px;
    display: block !important;
}

#works .content-box-wrapper {
    width: 100%;
    position: relative;
    height: auto;
    max-height: none;
}

#works .content-box-list {
    gap: 16px 16px;
    display: flex;
    flex-direction: row;
    writing-mode: horizontal-tb;
    flex-wrap: wrap;
    position: relative;
}

#works .content-box.small {
    width: 40vw;
    height: 40vw;
    border-radius: 10%;
    padding: 0;
}

#works .content-box.vertical-medium {
    width: calc(80vw + 16px);
    height: 40vw;
    max-width: none;
}

#works .content-box.large {
    width: calc(80vw + 16px);
    height: calc(80vw + 16px);
    max-width: none;
    max-height: none;
    border-radius: 5%;
}

#works .content-box p.content-title {
    font-size: 3vw;
    position: absolute;
    top: 4.5vw;
    left: 4vw;
}

#works .content-box.subscriber h3 {
    font-size: 18vw;
}

#works .content-box.text {
    padding: 3vw;
}

#works .content-box.text p {
    font-size: 5.4vw;
    font-weight: 550;
    letter-spacing: -0.04em;
    line-height: 1.2;
}

#works .content-box p.category {
    font-size: 3.2vw;
    margin-bottom: 0.6vw;
}

#works .content-box p.card-title {
    font-size: 5.2vw;
}

#works .content-box button {
    width: 9vw;
}

#works .content-box.more h3 {
    font-size: 18vw;
}

#works .content-box.more p {
    font-size: 4.5vw;
}

#works .content-box.language h3 {
    font-size: 7vw;
}


#works .content-box.flameworks ul {
    font-size: 6.5vw;
}

#works .bar {
    display: none;
}

#contact p.caption {
    margin-bottom: 40px;
}

#contact .content-box-wrapper {
    display: block;
}

#contact a {
    width: 100%;
    max-width: none;
    margin: 0;
}

#contact .content-box {
    max-width: none;
    margin-top: 20px;
    box-shadow: none;
}

#contact .content-box:hover {
    transform: scale(1);
    box-shadow: none;
}

footer {
    display: block;
    padding: 29px;
    color: #555;
    width: 86vw;
    max-width: 1200px;
    margin: auto;
}


footer p {
    display: block;
    width: 100%;
    margin-bottom: 16px;
}

body.active {
    background-color: #fff;
}

header {
    background: #fff !important;
}

header ul.active {
    background: #fff;
    color: #222;
}

header ul.active img {
    filter: none;
}

.page-wrapper.active {
    display: none;
}

.deep-dive.active {
    height: calc(100% - 90px);
}

.deep-dive img.image {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
}