#about-me .content-box.small {
    width: calc(50% - 8px);
}

#about-me .content-box.large {
    width: 100%;
    display: inline-block;
}

#about-me {
    width: 70vw;
    max-width: 1200px;
    margin: auto;
    padding: 120px 0;
}

#works,.deep-dive section {
    width: 70vw;
    max-width: 1200px;
}